*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.home{
    width:100%;
    background:#fff;
    display:flex;
    justify-content:center;
}

.home section{
    width:85%;
}

section header{
    background:#000;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
}

.header-item{
    display:flex;
    align-items:center;
    gap:10px;
}

.header-item a{
    display:flex;
    align-items:center;
    gap:8px;
    text-decoration:none;
    color:white;
    font-size:14px;
}

section nav{
    background:#8ec63f;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
}

nav img{
    height:40px;
}

.nav-item{
    display:flex;
    gap:30px;
}

.nav-item a{
    text-decoration:none;
    color:white;
    font-weight:500;
}

.nav-item a:hover{
    transform:scale(1.1);
    transition:0.3s;
}

.container{
    width:90%;
    margin:40px auto;
    display:flex;
    gap:40px;
    flex:1;
}

.content{
    width:65%;
}
.content>img{
    width: 40%;
    border-radius: 10px;
    height: 25%;
    margin-left: 25px;
}

.sidebar{
    width:35%;
    height: 20%;
}

.blog-img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.meta{
    margin:20px 0;
    display:flex;
    gap:25px;
    font-size:15px;
    flex-wrap:wrap;
}

.description{
    color:#8a8a8a;
    margin-bottom:20px;
    line-height:1.7;
}

.share{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
}

.social{
    width:40px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-weight:bold;
}

.fb{background:#3b5998;}
.in{background:#0077b5;}
.gp{background:#db4437;}
.tw{background:#1da1f2;}

.category{
    margin:20px 0;
}

.reply-title{
    margin-top:30px;
    font-size:28px;
}

.note{
    margin:10px 0 20px;
    color:#666;
}

.comment-form{
    display:flex;
    flex-direction:column;
}

.comment-form label{
    margin:10px 0 5px;
}

.comment-form textarea{
    height:120px;
    padding:10px;
    border:1px solid #ccc;
}

.comment-form input{
    height:45px;
    padding:10px;
    border:1px solid #ccc;
}

.checkbox{
    display:flex;
    align-items:center;
    gap:10px;
    margin:15px 0;
    font-size:14px;
}

.comment-form button{
    width:200px;
    height:50px;
    background:#8bc34a;
    color:white;
    border:none;
    font-weight:bold;
    cursor:pointer;
}

.box{
    background:white;
    padding:25px;
    margin-bottom:30px;
    border:1px solid #8ec63f;
}

.box h3{
    margin-bottom:20px;
    font-size:20px;
   
}

.search-box{
    display:flex;
    gap:10px;
}

.search-box input{
    flex:1;
    height:40px;
    border:1px solid #ccc;
    padding:5px;
}

.search-box button{
    width:100px;
    border:1px solid #ccc;
    background:#eee;
}

.box ul{
    list-style:none;
}

.box ul li{
    padding:12px 0;
    border-bottom:1px solid #e0e0e0;
    font-size:14px;
}

.footer{
    background:#111;
    color:#ccc;
    padding:50px 80px;
    width:100%;
    /* margin-top:-400px; */
    
}
.submit-btn{
    width: 120px;
    height: 40px;
    background-color: #28a745;
    color: black;
    border-radius: 10px;
    border: white;
   
}
.submit-btn:hover{
    background-color: black;
    color: white;
}

.footer-container{
    max-width:1200px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}


.footer-box{
    width:23%;
    min-width:220px;
    margin-bottom:20px;
}

.footer-box h3{
    color:#fff;
   
}

.footer-box p{
    font-size:14px;
    line-height:1.6;
}


.footer-box ul{
    list-style:none;
    padding:0;
}

.footer-box ul li{
    margin-bottom:10px;
    font-size:14px;
    cursor:pointer;
    transition:0.3s;
}

.footer-box ul li:hover{
    color:#f1c40f;
}


.buy-btn{
    background:#f1c40f;
    color:#000;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.buy-btn:hover{
    background:#ffdb4d;
}


.footer-bottom{
    text-align:center;
    border-top:1px solid #333;
    padding-top:15px;
    margin-top:30px;
    font-size:14px;
    color:#aaa;
}

.footer-bottom span{
    color:#f1c40f;
}


.icon-image a{
    color:gray;
    padding:10px;
    font-size:18px;
    text-decoration:none;
    transition:0.3s;
}

.icon-image a:hover{
    color:#f1c40f;
}

@media (max-width:600px){
    section header{
        flex-direction:column;
        gap:10px;
        text-align:center;
    }
    section nav{
        flex-direction:column;
        gap:15px;
    }
    .nav-item{
        flex-direction:column;
        gap:15px;
    }
    .footer{
        padding:40px 20px;
    }
    .footer-box{
        width:100%;
    }
    .comment-form button{
        width:100%;
    }
}